body {
	margin-right: 50px;
}
#menu-bar {
	text-align: right;
	margin-bottom: 180px;
	font-size: 30px;
	margin-right: 70px;
}
#menu-bar a {
	padding: 14px 16px;
	text-decoration: none;
	color: black;
}
.half-width {
	width: 40%;
	float: left;
	margin-left: 10px;
	padding-left: 80px;
	margin-bottom: 150px;
	font-family: merienda one;
}
.half-width img {
	width: 100%;
	padding-left: 100px;
	margin-bottom: 150px;
}
.half-width p {
	font-size: 30px;
	font-family: sofia;
}
.half-width h1 {
	font-size: 70px;
}

#name {
	height: 500px;
	font-size: 40px;
}
.info-1 {
	margin-top: 80px;
	margin-left: 150px;
}
.hire-button {
	padding: 20px 40px;
	background-image: linear-gradient(45deg, blue, lightblue);
	border-radius: 10px;
	text-decoration: none;
	color: white;
	font-size: 20px;
}
#about {
	font-size: 40px;
	height: 1400px;
}
.download-button {
	padding: 20px 40px;
	background-image: linear-gradient(45deg, orange, tomato);
	border-radius: 10px;
	text-decoration: none;
	color: white;
	margin-top: 20px;
	font-size: 20px;
}

.info-2 {
	margin-top: 40px;
	margin-left: 180px;
}


#experience {
	height: 800px;
	margin-top: 200px;
	margin-right: 200px;
}
#experience ul {
	font-size: 20px;
	font-family: merienda;
}
#experience a {
	padding: 20px 40px;
	text-decoration: none;
	color: white;
	background-image: linear-gradient(45deg, #4188fe, cyan);
	border-radius: 20px;
}
#title {
	text-align: center;
	font-weight: bolder;
	font-family: merienda;
	font-size: 40px;
}
.quarter-width {
	width: 25%;
	float: left;
	border: 0px solid;
	height: 450px;
}
.quarter-width img {
	width: 100%;
}


.img-left {
	margin-left: 130px;
	margin-right: 20px;
	padding: 20px 20px 20px 20px;
	border-radius: 40px;
	box-shadow: 10px 10px 40px grey;
	background-color: yellow;
}
.img-mid {
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 20px 20px 20px;
	border-radius: 40px;
	box-shadow: 10px 10px 40px grey;
	background-color: #eda841;
}
.img-right {
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 20px 20px 20px;
	border-radius: 40px;
	box-shadow: 10px 10px 40px grey;
	background-color: #63d375;
}
#project {
	margin-top: 200px;
	margin-bottom: 300px;
}
#communicate {
	background-image: url("./images/shapes/Group_33094_1.png");
	margin-top: 280px;
	text-align: center;
	height: 300px;
	font-family: merienda;
	background-size: 800px;
	background-position: center;
	background-repeat: no-repeat;
}

#communicate h1 {
	margin: 110px 31%;
	position: absolute;
	color: white;
	font-size: 50px;
}
#communicate a {
	position: absolute;
	margin: 120px 170px;
	padding: 20px 40px;
	font-size: 20px;
	border-radius: 20px;
	background-image: linear-gradient(45deg, orange, tomato);
	text-decoration: none;
	color: white;
}
.cyan-text {
	color: #32a1f1;
}
.blue-text {
	color: blue;
	font-weight: bold;
}
.orange-text {
	color: orange;
}
.pink-text {
	color: orangered;
}
footer {
	margin-top: 100px;
	text-align: center;
}
footer img {
	width: 40px;
}
